*{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
}

body{
    background-color: #FBFBFB;
    padding-bottom: 30px;
}

#app-title{
    font-weight: 800;
}

.img-not-found{
    max-width: 300px;
}